{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block Content %}

  <h2 class="text-center">Upload From Camera</h2>
  <form method="POST" enctype="multipart/form-data">
    <!-- {{ form.as_p }} -->
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Any title for your image :) </div>
    </div>

    <!-- <label for="myfile">Select a file:</label>
    <input type="file" id="file" name="file"> -->
<!-- -->
    <div id="my_camera"></div>
    <input type=button value="Configure" onClick="configure()">
    <input type=button value="Take Snapshot" onClick="take_snapshot()">
    <input type=button value="Save Snapshot" onClick="saveSnap()">

    <div id="results" ></div>

    <!-- Script -->
    <!-- <script type="text/javascript" src="webcamjs/webcam.min.js"></script> -->

    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript">

    // Configure a few settings and attach camera
    function configure(){
    Webcam.set({
    width: 320,
    height: 240,
    image_format: 'jpeg',
    jpeg_quality: 90
    });
    // print("HEYY THEFREEEE")
    Webcam.attach( '#my_camera' );
    }
    // A button for taking snaps


    // preload shutter audio clip
    function take_snapshot() {
    // play sound effect
    // shutter.play();

    // take snapshot and get image data
    Webcam.snap( function(data_uri) {
    // display results in page
    document.getElementById('results').innerHTML = 
    '<img id="imageprev" src="'+data_uri+'"/>';
    } );

    // Webcam.reset();
    }

    function saveSnap(){
    // Get base64 value from <img id='imageprev'> source
    var base64image = document.getElementById("imageprev").src;
    Webcam.upload( base64image, 'upload.php', function(code, text) {

    console.log('Save successfully');
    //console.log(text);
    });

    }
    </script>
    <button type="submit" class="btn btn-success" value="submit">Upload</button>
  </form>
{% endblock %}